*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    /* background-color: black; */
}
.container{
    width: 100vw;
    height: 100vh;
}
h1{
    background-color: black;
    color: white;
    text-align: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
    border-bottom: 2px solid gray;
}

#gallery {
    width: 90%;
    margin: 0 auto;
    position: relative;
}

#gallery .item {
    border: 2px solid red;
    width: 200px;
    height: auto;
    height: 300px;
    position: absolute;
    visibility: hidden;
}

#gallery .item1 {
    height: 150px;
}